.nav-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  margin: 0;
  width: 100%;
  min-width: 1024px;
  height: 48px;
  max-height: 44px;
  background: rgba(45,45,45,0.98);
  font-size: 17px;
}

.nav-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
}

.nav-content {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.nav {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
}

.nav:hover {
  cursor: pointer;
  opacity: 0.6;
}